.note-item-body {
  display: flex;
  flex-direction: column;
  height: 100%;

  .last-edited {
    text-align: center;
    margin-bottom: auto;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}